version: '3'

services:
  mysql:
    image: 'mysql:latest'
    command: ['mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_bin', '--default-time-zone=+09:00']
    environment:
      - 'LANG=ja_JP.UTF-8mb4'
      - 'MYSQL_DATABASE=mydatabase'
      - 'MYSQL_PASSWORD=secret'
      - 'MYSQL_ROOT_PASSWORD=verysecret'
      - 'MYSQL_USER=myuser'
      - 'TZ=Asia/Tokyo'
    ports:
      - "3306:3306"
    volumes:
      - ./datasource/init.sql:/docker-entrypoint-initdb.d/init.sql
