api:
  base-path: api

server:
  servlet:
    context-path: /rami

# http://localhost:8080/rami/api-docs
# http://localhost:8080/rami/swagger-ui/index.html
springdoc:
  api-docs:
    path: /api-docs
  show-actuator: true

spring:
  datasource:
    url: jdbc:h2:mem:mydb;DB_CLOSE_ON_EXIT=TRUE
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
  sql:
    init:
      mode: EMBEDDED
